doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Reddit Clone
        link(rel='stylesheet' href='styleshome.css')
    body 
#header
        h1 Reddit!
#form 
    form(action="/", method="POST")
            input(type="text", name="", placeholder="")
            br
            p 
            textarea(name="", cols="30", rows="10") 
            br
           
            button(type="submit") Submit 


 #card 
    //- each   in    

script(src="")
    


//- </div>
//- <div class="card" style="width: 18rem;">
//- <img src="images/IMG_1364.JPG" class="card-img-top" alt="burlin mural #3">
//- <div class="card-body">
//- <h5 class="card-title"> photo title</h5>
//- <p class="card-text">content text</p>
//- <a href=""></a>
//- </div>
//- </div>